
.weather-card {

  border-radius: 3px;
  background-color: white;
  border: 1px solid #ddd;
} 
  .today {
    width: 300px;
    height: 150px;
    margin: 10px;
  }

  .forecast {
    width: 100px;
    height: 70px;
    margin-left: 10px;
    text-align: center;
    float: left;
    font-size: 14px;
  }

  .location {
    color: #878787;
    font-size: 18px;
    font-weight: 800;
    padding: 10px;
  }

  .time, .text {
    color: #878787;
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    margin-top: -15px;
  }

  .temperature { 
    color: #222;
    font-size: 28px;
    float: left;
    padding: 15px;
    margin-left: 20px;
  }

  .other-conditions {
    margin-top: 10px;
    float: right;
    margin-right: 30px;
    font-weight: 200;
    color: #878787;
  }